.App {
  text-align: center;
}
 

.App-header {
  background-color: green;
  height: 70px;
  padding: 20px;
  color: white;
  
}


 
.App-header h2 {
  margin: 0;
} 

* {
  box-sizing: border-box;
}
 
.cars {
  display: flex;
  flex-wrap: wrap;
}
 

.add-cars {
  text-align: center;
}
 
.add-cars button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}
 
.car {
  padding: 5px 25px 10px 60px; 
  max-width: 25%; 
  
}

.car-form {  
  width: 250px; 
  margin: 0 auto; 
}
 
.car-form input, .car-form textarea {
  width: 250px;
  font-size:14px;
  padding: 5px;
  margin: 5px;
}
 
.car-form button {
  font-size: 16px;
  padding: 4px;
  margin: 10px 10px 30px 10px;
}

.new-cars {
   display: flex;
   flex-wrap: wrap;
}


